
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.inputs{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.inputborder{
    display: flex;
    align-items: center;
    background-color: rgb(180, 180, 180);
    width: 400px;
    height: 80px;
    border-radius: 10px;
}

.underline{
    width: 61px;
    height: 6px;
    background-color: blue;
    border-radius: 9px;
}