.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
}


text{
    color: red;
    font-size: 48px;
    font-weight: 700;
}




input{
    height: 50px;
    width: 400px;
    outline: none;
    background: none;
    border: none;
    font-size: 19px;
    margin-left: 40px;
    color: white;
}

.forgot-password{
    padding-left: 15px;
    margin-top: 27px;
    color: grey;
    justify-content: center;
    align-items: center;
}
.forgot-password span{
    color: red;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 150px;
    height: 59px;
    font-size: 19px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}